.box{
    position: relative;
    /* top: 10%; */
    left: 10%;
    width: 300px;
    height: 400px;
    border: 1px solid;
    /* top: 10%; */

}
.child{
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: absolute;
}


